@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #09090B;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
